*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul,
ol,
li{
	list-style: none;
}

img{
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}

html,
body{
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #757575;
	font-weight: 500;
	font-family: Montserrat;
	background-color: #e3e3e3;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}

._container{
	max-width: 1172px;
	padding: 0 15px;
	box-sizing: content-box;
	margin: 0px auto;
}

/****Header********************************************/

.header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: white;
}
.header__container img{
	width: 41px;
	height: 29px;
}

.header__logo{
	/*display: block;*/
	font-size: 18px;
	/*line-height: 50px;*/
	font-weight: 400;
	letter-spacing: 0.1em;
	color: inherit;
	margin-left: 10px;
}

.header__container{
	display: flex;
	min-height: 70px;
	align-items:center;
}

.header__menu{
	margin: 0 0 0 100px;
}

@media(max-width: 992px){
	.header__menu {
		margin: 0 0 0 40px;
	}
}

@media(max-width: 767px){
	.header__menu {
		margin: 0 0 0 20px;
	}
}

@media(max-width: 479px){
	.header__menu {
		margin: 0 0 0 10px;
	}
}

.menu__link{
	line-height: calc(50 / 12 * 100%);
	font-size: 12px;
	font-weight: 400;
	color: #aaaaaa;
}

.menu{
	padding: 5px 0;
}

.menu__list{
	display: flex;
	flex-wrap: wrap;
}

.menu__item{
	margin: 0 0 0 21px;
}

@media(max-width: 479px){
	.menu__link{
		font-size: 18px;
	}
}

.header__social__networks{
	margin: 0 0 0 232px;
}

.networks{
	padding: 5px 0;
}

.networks__list{
	display: flex;
	/*flex-wrap: wrap;*/
}

.networks__item{
	margin: 0 0 0 3px;
}

.networks__link img{
	width: 11px;
	height: 10px;
}

/****Slider********************************************/

.slider{
	position: absolute;
	width: 100%;
	left: 0;
	top: 60px;
	z-index: 50;
	background-image: url(../images/UpFon.jpg);
}

.slider__container{
	display: flex;
	min-height: 335px;
	/*align-items:center;*/
}

.up__slider{
	display: flex;
	flex-wrap: wrap;
}

.up__slider{
	position: absolute;
	left: 35%;
	top: 30%;
}

.up__text{
	font-family: Amsdam;
	font-size: 35.7px;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #ffffff;
}

.slider__line{
	position: absolute;
	left: 37%;
	top: 45%;
}

.slider__line img{
	width: 270px;
	height: 5px;
}

.down__slider{
	position: absolute;
	left: 44%;
	top: 52%;
}

.down__text{
	font-family: 'Crimson Text';
	font-size: 14px;
	/*line-height: 50px;*/
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #ffffff;
}

/****Posts********************************************/

.posts{
	position: absolute;
	width: 100%;
	left: 0;
	top: 395px;
	z-index: 50;
}

.posts__container{
	display: flex;
	height: 100%;
}

.main__menu{
	padding: 86px 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

.main__item{
	display: block;
	padding-bottom: 59px;
	padding-right: 29px;
	height: fit-content;
	max-width: 370px;
}

.main__item__list{
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.post1__image{
	width: 367px;
	height: 373px;
}

.post2__image{
	width: 367px;
	height: 459px;
}

.post3__image{
	width: 367px;
	height: 319px;
}

.post4__image{
	width: 367px;
	height: 307px;
}

.post5__image{
	width: 367px;
	height: 459px;
}

.post6__image{
	width: 367px;
	height: 411px;
}

.post7__image{
	width: 367px;
	height: 307px;
}

.post8__image{
	width: 367px;
	height: 459px;
}

.post9__image{
	width: 367px;
	height: 411px;
}

.item__text__1{
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #3e3d3d;
	padding-top:40px;
}

.item__text__2{
	font-family: 'Crimson Text';
	font-size: inherit;
	line-height: 18px;
	font-weight: 400;
	font-style: italic;
	color: #3e3d3d;
	padding-top: 13px;
	padding-bottom: 20px;
}

.item__text__3{
	font-family: 'Crimson Text';
	line-height: 25px;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #3e3d3d;
	padding-top: 30px;
}

.between__line{
	display: flex;
	align-items: center;
	min-height: 37.8px;
}

.between__line__item{
	margin: 0 0 0 10px;
}

.item__line{
	width: 370px;
	height: 1px;
}

.item__icon__1{
	width: 13px;
	height: 11px;
}

.item__icon__2{
	width: 19px;
	height: 12px;
}

.item__icon__3{
	width: 13px;
	height: 11px;
}

.icon__text{
	font-family: 'Crimson Text';
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-style: italic;
	color: #818181;
}

.button{
	margin-top: 35px;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #3e3d3d;
	border: 2px solid gray;
	width: 130px;
	height: 36px;
	display: block;
	text-align: center;
	line-height: 30px;
	position: relative;
}

.button:hover{
	background-color: gray;
	color: white;
}

/****Footer********************************************/